
/* STORIES */
.crf-story  a > div {color: #364147;}
.crf-story .crf-story--text {padding: 30px 0; text-transform: uppercase; text-align: center;}
.crf-story .crf-story--text > div {font-size: 16px; font-weight: 200; color: #faa541;}
.crf-story .crf-story--text h3 {font-size: 30px; font-weight: 700; line-height: 1; margin: 0;}
.crf-story .crf-story--image img {width: 100%;}

@media only screen and (max-width: 991px) {
    .crf-story  .crf-story--image {height: 180px; overflow: hidden; position: relative;}
    .crf-story .crf-story--image img {position: relative; top: 50%; transform: translateY(-50%);}
}
